<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
  </head>
  <body style="font-family: Arial, sans-serif">
    <div>
      <h4><%= appName %></h4>
      <img src="<%= logoUrl %>" alt="Logo" />
    </div>
    <p>
      Click on the link below to be redirected to a page where you will be able
      to change your password. This page is given a limited time span, and if
      the time expires, you will have to request a new email to change your
      password.
    </p>
    <a
      href="<%= resetLink %>"
      target="_blank"
      rel="noopener noreferrer"
      style="
        display: inline-block;
        background-color: #3da33d;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
      "
    >
      Change Password
    </a>
  </body>
</html>
